* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 25px;
}
.slide{
    text-align: right;
    padding-right: 0.5em;
    background-color: lightskyblue;
    line-height: 2.7;
    height: 0;
    margin: 0 auto;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.6s;
    font-size: 2em;
}

.slideitem{
    list-style: none;
    margin-right: 2em;
}

.slidelink{
    text-decoration: none;
    list-style: none;
    color: black;   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background: lightskyblue;
    padding: 1em;
}

.slidedown{
    height: 50vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    height: 50vh;
    background: rgba(0,0,0,0.01);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2{
    height: 45vh;
    background: rgba(115, 204, 240, 0.2);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.col3{
    height: 45vh;
    background: rgba(0,0,0,0.01);    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: rgba(0,0,0,0.6);
    text-align:center;
    color: white;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
